# SQLite3 file
db/*.sqlite3
db/*.sqlite
db/*.db
db/*.sqlite3-journal

# node_modules
node_modules

# pnpm
.pnpm-store

# Local dev files + editors
.DS_Store

# logs, tmp, coverage, build artifacts
*.log
tmp/
coverage/

# Git metadata
.git
.gitignore