@theme {
    /* color */
    --color-on-surface: #1a1b20;
    --color-secondary: #505f76;
    --color-tertiary-container: #004942;
    --color-surface-bright: #faf8ff;
    --color-inverse-surface: #2f3035;
    --color-inverse-primary: #b6c4ff;
    --color-on-background: #1a1b20;
    --color-tertiary-fixed-dim: #a3cfc7;
    --color-error: #ba1a1a;
    --color-primary: #001142;
    --color-outline-variant: #c5c5d3;
    --color-background: #faf8ff;
    --color-surface-container-low: #f4f3fa;
    --color-tertiary: #00312c;
    --color-surface-container-highest: #e3e1e9;
    --color-on-error-container: #93000a;
    --color-surface-container: #eceef0;
    --color-on-secondary-fixed-variant: #39485e;
    --color-on-secondary-fixed: #0c1c30;
    --color-surface-tint: #425aa6;
    --color-surface: #f7f9fb;
    --color-secondary-container: #d4e3ff;
    --color-on-surface-variant: #444651;
    --color-primary-fixed-dim: #b5c4ff;
    --color-secondary-fixed-dim: #b8c7e2;
    --color-secondary-fixed: #d4e3ff;
    --color-primary-fixed: #dce1ff;
    --color-surface-variant: #e3e1e9;
    --color-error-container: #ffdad6;
    --color-tertiary-fixed: #bfece3;
    --color-surface-dim: #dad9e0;
    --color-outline: #757682;
    --color-on-tertiary: #ffffff;
    --color-on-tertiary-container: #6f9a93;
    --color-on-tertiary-fixed: #00201c;
    --color-on-secondary: #ffffff;
    --color-on-primary-fixed: #00164e;
    --color-on-tertiary-fixed-variant: #234e48;
    --color-inverse-on-surface: #f1f0f7;
    --color-on-primary: #ffffff;
    --color-primary-container: #00236f;
    --color-surface-container-high: #e9e7ee;
    --color-surface-container-lowest: #ffffff;
    --color-on-error: #ffffff;
    --color-on-secondary-container: #56657c;
    --color-on-primary-fixed-variant: #29428c;
    --color-on-primary-container: #778ede;
    /* Border Radius */
    --radius-DEFAULT: 0.125rem;
    --radius-lg: 0.25rem;
    --radius-xl: 0.5rem;
    --radius-full: 0.75rem;
    /* Spacing */
    --spacing-max-width: 1280px;
    --spacing-container-max-width: 1280px;
    --spacing-margin-page: 32px;
    --spacing-unit: 4px;
    --spacing-card-padding: 20px;
    --spacing-padding-card: 20px;
    --spacing-stack-gap: 12px;
    --spacing-base-unit: 4px;
    --spacing-gutter: 24px;
    /* FontFamily */
    --font-h3: "Manrope", sans-serif;
    --font-label-sm: "Inter", sans-serif;
    --font-body-lg: "Inter", sans-serif;
    --font-h2: "Manrope", sans-serif;
    --font-h1: "Manrope", sans-serif;
    --font-body-md: "Inter", sans-serif;
    --font-body-sm: "Inter", sans-serif;
    --font-label-md: "Inter", sans-serif;
    /* FontSize */
    --text-h3: 18px;
    --text-h3-line-height: 26px;
    --text-h3-letter-spacing: 0em;
    --text-label-sm: 11px;
    --text-label-sm-line-height: 14px;
    --text-label-sm-letter-spacing: 0.03em;
    --text-body-lg: 16px;
    --text-body-lg-line-height: 24px;
    --text-body-lg-letter-spacing: 0em;
    --text-h2: 24px;
    --text-h2-line-height: 32px;
    --text-h2-letter-spacing: -0.01em;
    --text-h1: 32px;
    --text-h1-line-height: 40px;
    --text-h1-letter-spacing: -0.02em;
    --text-body-md: 14px;
    --text-body-md-line-height: 20px;
    --text-body-md-letter-spacing: 0em;
    --text-body-sm: 12px;
    --text-body-sm-line-height: 18px;
    --text-body-sm-letter-spacing: 0em;
    --text-label-md: 13px;
    --text-label-md-line-height: 16px;
    --text-label-md-letter-spacing: 0.02em;
}
