.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
/* Custom subtle shadow from design spec */
.shadow-ambient {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

body {
    @apply bg-surface-container-low min-h-screen flex items-center justify-center p-4
    md:p-8 font-body-md text-on-surface antialiased
}

main {}

.flash-message-space {}

h1 {}
